# Imports

In [1]:
import pandas as pd
from pathlib import Path
import plotly.express as px
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import os
from dotenv import load_dotenv
import seaborn as sns

In [2]:
import alpaca_trade_api as tradeapi
from dotenv import load_dotenv
load_dotenv()b

True

# Read in CSV data

In [3]:
file_path_1 = Path('coin_Bitcoin.csv')
file_path_2 = Path('coin_Ethereum.csv')
file_path_3 = Path('coin_Litecoin.csv')
file_path_4 = Path('coin_XRP.csv')

In [5]:
bitcoin_df  = pd.read_csv(file_path_1)
ethereum_df= pd.read_csv(file_path_2)
litecoin_df = pd.read_csv(file_path_3)
xrp_df = pd.read_csv(file_path_4)

In [6]:
xrp_df.describe()
bitcoin_df.describe()
litecoin_df.describe()
ethereum_df.describe()

,SNo,High,Low,Open,Close,Volume,Marketcap
count,1885.000000,1885.000000,1885.000000,1885.000000,1885.000000,1.885000e+03,1.885000e+03
mean,1089.000000,287.676047,266.048742,277.361060,278.064271,5.850077e+09,2.907151e+10
std,544.296947,325.383998,294.912770,311.369588,312.362349,8.260745e+09,3.386433e+10
min,147.000000,0.954822,0.929835,0.933712,0.937124,2.060620e+05,7.117666e+07
25%,618.000000,51.274502,48.297100,49.971401,50.037300,1.456020e+08,4.553738e+09
50%,1089.000000,206.361445,194.783997,200.608867,200.635000,2.208720e+09,2.089154e+10
75%,1560.000000,364.438995,341.416992,353.202267,353.362266,8.446546e+09,3.675680e+10
max,2031.000000,2036.286493,1896.684508,1959.902977,1960.164744,6.073363e+10,2.249100e+11

In [ ]:
corr_rtn=combined_rtn.corr()
corr_vol=combined_vol.corr()

In [ ]:
ethereum_df.plot(grid=True, figsize=(10, 5)).axhline(y = 1, color = "black", lw = 2)
bitcoin_df.plot(grid=True, figsize=(10, 5)).axhline(y = 1, color = "black", lw = 2)
litecoin_df.plot(grid=True, figsize=(10, 5)).axhline(y = 1, color = "black", lw = 2)
xrp_df.plot(grid=True, figsize=(10, 5)).axhline(y = 1, color = "black", lw = 2)b

In [ ]:
corr = bitcoin_df.corr()
corr = ethereum_df.corr()
corr = litecoin_df.corr()
corr = xrp_df.corr()